.todoList {
  font-size: 40px;
}

.todo {
  width: 90%;
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
}

.inputTodo {
  margin: 20px;
}
